<div class="h-lvh bg-black bg-no-repeat bg-top bg-cover flex justify-center items-center" style="background-image: url({{ image | url }})">

    <header id="header" class="fixed top-0 left-0 w-full right-0 transition-colors duration-200">

        <div class="container flex items-center justify-between my-2">
            <div class="">
                {% include "svg/logo.svg" %}
            </div>

            <nav>
                <ul id="nav-items" class="flex">
                    {% for item in nav.items %}                
                        <li>
                            <a class="text-white relative uppercase mx-4 no-underline before:content-[''] before:absolute before:left-0 before:-bottom-1 before:w-full before:h-[2px] before:bg-white before:transition-transform before:duration-200 before:scale-x-0 hover:before:scale-x-100" href="{{ item.url | url }}">
                                {{ item.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

    </header>

    <h1 class="font-headings text-white text-8xl" style="text-shadow: 0 0 10px #000">
        <span class="font-bold vertical">S</span>ound <span class="font-bold vertical">S</span>tudio
    </h1>

</div>