<header class="container flex items-center justify-between fixed top-0 left-0 right-0">

    <div class="">
        {% include "svg/logo.svg" %}
    </div>

    <nav>
        <ul class="flex">
            {% for item in nav.items %}                
                <li>
                    <a href="{{ item.url | url }}">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

</header>