<div class="h-lvh bg-black bg-no-repeat bg-top bg-cover" style="background-image: url({{ image | url }})">

    <header class="container flex items-center justify-between fixed top-0 left-0 right-0">

        <div class="">
            {% include "svg/logo.svg" %}
        </div>

        <nav>
            <ul class="flex">
                {% for item in nav.items %}                
                    <li>
                        <a class="text-white mx-4" href="{{ item.url | url }}" style="text-shadow: 0 0 1px #000">
                            {{ item.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>

    </header>

</div>