@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    h1, h2, h3, h4, h5, h6 {
        @apply text-copy font-headings font-light mt-0
    }

    h2 {
        @apply text-4xl;
    }

    ul {
        @apply list-none p-0 m-0;
    }

    img {
        @apply block max-w-full h-auto;
    }

    .vertical {
        background: linear-gradient(to top, #002de3 50%, #d63539 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .burger rect {
        transform-origin: center center;
        transition: all 0.4s;
        fill: black;
    }

    .burger.active #line1 {
        transform: rotate(-135deg) translate(-1px, 5px);
        fill: black;
    }
    .burger.active #line2 {
        transform: rotate(-135deg) translate(-1px, -3px);
        fill: black;
    }
    .burger.active #line3 {
        transform: rotate(135deg) translate(1px, -11px);
        fill: black;
    }

}