<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body class="font-copy m-0 p-0">

    {% include "header.njk" %}

    <main>

        {{ content | safe }}

    </main>

    <script>
        {% include "scripts/plain-js-slidetoggle.js" %}
    </script>
    <script src="{{ '/assets/js/scripts.js' }}"></script>
   

</body>
</html>