<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body class="font-copy m-0 p-0">

    {% include "header.njk" %}

    <main>

        {{ content | safe }}

    </main>

    <footer>
        <div class="container py-4 md:py-8">
            <div class="text-center">
                {% include "svg/logo.svg" %}
            </div>
        </div>
    </footer>

    <script src="{{ '/assets/js/plain-js-slidetoggle.js' | url }}"></script>
    <script src="{{ '/assets/js/scripts.js' | url }}"></script>
   
</body>
</html>