---
layout: default
---
<section class="container py-8 box-border relative">
    <p class="text-2xl text-copy leading-loose font-extralight">
        Sound Studio is a San Juan Island based recording studio with pickup services from the Ferry or Airport. Overnight stays can be easily arranged.  Established in 2023, our cozy, non-pretentious space is located in the downtown area near shops, galleries,and  restaurants with a backdrop of surrounding mountains  and the awesome natural beauty of the island itself. Complete production services from the start of an idea to the fully mastered finished version can easily be within reach as our experienced team can also provide studio musicians.
    </p>

</section>

<img src="{{ '/assets/images/wave.svg' | url }}" class="mx-auto -mt-4" alt="">

<section class="container py-8 box-border">

    <span id="services" class="block invisible h-36 -mt-36"></span>
    <h2 class="text-center">
        PRODUCTION SERVICES
    </h2>

    <p class="text-copy text-xl font-extralight leading-relaxed">
        We specialize in recording &amp; mixing services for all genres of music. We're well tuned into the recording of audio books  and voice overs . Whether you're a solo artist or a complete band we have the equipment to bring all of  your recordings to a new audio level ! 
    </p>

</section>

<section class="container py-8 box-border">

    <img class="mb-8" src="{{ '/assets/images/control-room.jpg' | url }}" alt="Control Room">

    <h3 class="text-2xl mt-10 mb-2">
        RECORDING
    </h3>

    <ul>
        <li class="text-copy text-xl leading-normal mb-2 font-extralight">
            $75.- $125.PER HOUR WITH ENGINEER
        </li>
        <li class="text-copy text-xl leading-normal font-extralight">
            $500- $800. PER DAY  WITH ENGINEER
        </li>
    </ul>

    <img class="my-8" src="{{ '/assets/images/live-room.jpg' | url }}" alt="Live Room">

    <h3 class="text-2xl mt-10 mb-2">
        MIXING
    </h3>
    

    <ul>
        <li class="text-copy text-xl leading-normal font-extralight">
            $150-$300 PER SONG
        </li>
    </ul>
    
    <img class="my-8" src="{{ '/assets/images/live-room.jpg' | url }}" alt="Live Room">

    <h3 class="text-2xl mt-10 mb-2">
        MASTERING
    </h3>
    
    <ul>
        <li class="text-copy text-xl leading-normal font-extralight">
            $60-$75  PER SONG
        </li>
    </ul>

</section>

<img src="{{ '/assets/images/wave.svg' | url }}" class="mx-auto -mt-4" alt="">

<section class="container py-8 box-border">

    <span id="about" class="block invisible h-36 -mt-36"></span>
    <h2 class="text-center">
        WHO WE ARE
    </h2>

    <p class="text-copy text-xl font-extralight leading-relaxed">
        About us
    </p>

</section>

<img src="{{ '/assets/images/wave.svg' | url }}" class="mx-auto -mt-4" alt="">

<section class="container py-8 box-border">

    <span id="contact" class="block invisible h-36 -mt-36"></span>
    <h2 class="text-center">
        Contact Us
    </h2>

    <div class="mx-auto max-w-2xl">
        <form action="">
            <div class="">
                <label for="name" class="block leading-normal text-copy">
                    Name:
                </label>

                <div class="mt-2">
                    <input type="text" id="name" name="name" class="block box-border w-full text-base text-copy rounded-md border-0 px-4 py-3 leading-normal shadow-sm ring-1 ring-gray ring-inset placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray">
                </div>
            </div>
            <div class="mt-6">
                <label for="email" class="block leading-normal text-copy">
                    E-mail:
                </label>

                <div class="mt-2">
                    <input type="email" id="email" name="email" class="block box-border w-full text-base text-copy rounded-md border-0 px-4 py-3 leading-normal shadow-sm ring-1 ring-gray ring-inset placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray">
                </div>
            </div>
            <div class="mt-6">
                <label for="phone" class="block leading-normal text-copy">
                    Phone number:
                </label>

                <div class="mt-2">
                    <input type="text" id="phone" name="phone" class="block box-border box w-full text-base text-copy rounded-md border-0 px-4 py-3 leading-normal shadow-sm ring-1 ring-gray ring-inset placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray">
                </div>
            </div>
            <div class="mt-6">
                <label for="subject" class="block leading-normal text-copy">
                    Subject:
                </label>

                <div class="mt-2">
                    <input type="text" id="subject" name="subject" class="block box-border w-full text-base text-copy rounded-md border-0 px-4 py-3 leading-normal shadow-sm ring-1 ring-gray ring-inset placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray">
                </div>
            </div>
            <div class="mt-6">
                <label for="message" class="block leading-normal text-copy">
                    Subject:
                </label>

                <div class="mt-2">
                    <textarea id="message" name="message" rows="3" class="block box-border w-full rounded-md border-0 py-1.5 text-copy text-base leading-normal shadow-sm ring-1 ring-inset ring-gray placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray"></textarea>
                </div>
            </div>

            <div class="mt-8">
                <button type="submit" class="block w-full sm:inline-block sm:w-auto border-none cursor-pointer rounded-md bg-blue px-8 py-2 text-base font-semibold text-white shadow-sm hover:bg-blue/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue">Send</button>
            </div>
        </form>
    </div>

</section>