---
layout: default
---
<div class="container py-8">
    <p class="text-2xl text-black leading-loose font-extralight">
        Sound Studio is a San Juan Island based recording studio with pickup services from the Ferry or Airport. Overnight stays can be easily arranged.  Established in 2023, our cozy, non-pretentious space is located in the downtown area near shops, galleries,and  restaurants with a backdrop of surrounding mountains  and the awesome natural beauty of the island itself. Complete production services from the start of an idea to the fully mastered finished version can easily be within reach as our experienced team can also provide studio musicians.
    </p>
</div>