---
layout: default
---
<section class="container py-8 box-border relative">
    <div class="text-2xl text-copy leading-loose font-extralight">
        {{ content | safe }}
    </div>

</section>

<img src="{{ '/assets/images/wave.svg' | url }}" class="mx-auto -mt-4" alt="">

<section class="container py-8 box-border">

    <span id="services" class="block invisible h-36 -mt-36"></span>
    <h2 class="text-center">
        {{ services.title }}
    </h2>

    <h3 class="text-2xl mt-10 mb-2 text-center">
        {{ services.subtitle }}
    </h3>

    <div class="text-copy text-xl font-extralight leading-relaxed">
        {{ services.text | markdownify | safe }}
    </div>
 
  
   <img class="my-8" src="{{ '/assets/images/live-room.jpg' | url }}" alt="Live Room">
 

</section>




<img src="{{ '/assets/images/wave.svg' | url }}" class="mx-auto -mt-4" alt="">

<section class="container py-8 box-border">

    <span id="about" class="block invisible h-36 -mt-36"></span>
    <h2 class="text-center mb-12">
        WHO WE ARE
    </h2>

    <div class="grid md:grid-cols-2 gap-10 text-copy text-xl font-extralight leading-relaxed">
        <div class="pb-5 md:pb-0 md:pr-8 border-0 border-dotted border-copy border-b-2 md:border-r-2 md:border-b-0">
            <h3 class="text-copy text-3xl font-semibold leading-snug">
                Darvis Taylor
            </h3>
            <ul>
                <li class="mb-2">Chief Sound Engineer/Co-Owner - Sound Studio DXT</li>
                <li class="mb-2">30+ years of sound engineering experience.</li>
                <li class="mb-2">Live FOH sound engineering and remote recording specialist.</li>
                <li class="mb-2">Chief sound engineer at Eclectic Lady Land Recording for 10+ years.</li>
                <li class="mb-2">Pro computer and electronics technician.</li>
                <li class="mb-2">Sound design specialist.</li>
            </ul>

            <h4 class="mt-6 mb-2 text-xl font-semibold">Contact Information</h4>
            <ul>
                <li class="mb-2">Darvis Taylor</li>
                <li class="mb-2">email - darvist123@gmail.com</li>
                <li class="mb-2">cell - 360-317-3249</li>
            </ul>

            <img class="mt-6 block max-w-full h-auto" src="{{ '/assets/images/darvis-taylor.jpg' | url }}" alt="Karl Bruno" width="600" height="709" loading="lazy">
        </div>

        <div>

            <h3 class="text-copy text-3xl font-semibold leading-snug">
                Karl Bruno
            </h3>
            <ul>
                <li class="mb-2">Co-Owner of Sound Studio DXT</li>
                <li class="mb-2">40+ years in the music industry</li>
                <li class="mb-2">Band Leader / Manager</li>
            </ul>

            <h4 class="mt-6 mb-2 text-xl font-semibold">Contact Information</h4>
            <ul>
                <li class="mb-2">Karl Bruno</li>
                <li class="mb-2">email - kbmusicblast@gmail.com</li>
                <li class="mb-2">cell - 425-395-6997</li>
            </ul>

            <img class="mt-6 block max-w-full h-auto" src="{{ '/assets/images/karl-bruno.jpg' | url }}" alt="Karl Bruno" width="600" height="869" loading="lazy">

        </div>
    </div>


</section>

<img src="{{ '/assets/images/wave.svg' | url }}" class="mx-auto mt-2" alt="">

<section class="container py-8 box-border">

    <span id="contact" class="block invisible h-36 -mt-36"></span>
    <h2 class="text-center">
        Contact Sound Studio
    </h2>

    <div class="mx-auto max-w-2xl">
        <form method="POST" action="https://fp1.formmail.com/cgi-bin/fm192">
             <input type="hidden" name="_pid" value="53751">
            <input type="hidden" name="_fid" value="58RVI0DT"><!-- uses captcha -->
            <input type="hidden" name="recipient" value="1,2,4">
            <input type="hidden" name="subject" value="Message From SoundStudio DXT">
            <input type="hidden" name="redirect" value="https://soundstudiodxt.com/message-received/">

            <div class="">
                <label for="realname" class="block leading-normal font-copy text-copy">
                    Name:
                </label>

                <div class="mt-2">
                    <input type="text" id="realname" name="realname" rquired class="block box-border w-full font-copy text-base text-copy rounded-md border-0 px-4 py-3 leading-normal shadow-sm ring-1 ring-gray ring-inset placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray">
                </div>
            </div>
            <div class="mt-6">
                <label for="email" class="block leading-normal text-copy">
                    E-mail:
                </label>

                <div class="mt-2">
                    <input type="email" id="email" name="email" required class="block box-border w-full font-copy text-base text-copy rounded-md border-0 px-4 py-3 leading-normal shadow-sm ring-1 ring-gray ring-inset placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray">
                </div>
            </div>
            <div class="mt-6">
                <label for="phone" class="block leading-normal text-copy">
                    Phone number:
                </label>

                <div class="mt-2">
                    <input type="text" id="phone" name="phone" class="block box-border box w-full font-copy text-base text-copy rounded-md border-0 px-4 py-3 leading-normal shadow-sm ring-1 ring-gray ring-inset placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray">
                </div>
            </div>
            <div class="mt-6">
                <label for="meassage-subject" class="block leading-normal text-copy">
                    Subject:
                </label>

                <div class="mt-2">
                    <input type="text" id="meassage-subject" name="meassage-subject" required class="block box-border w-full font-copy text-base text-copy rounded-md border-0 px-4 py-3 leading-normal shadow-sm ring-1 ring-gray ring-inset placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray">
                </div>
            </div>
            <div class="mt-6">
                <label for="message" class="block leading-normal text-copy">
                    Message:
                </label>

                <div class="mt-2">
                    <textarea id="message" name="message" rows="3" class="block box-border font-copy w-full text-base text-copy rounded-md border-0 px-4 py-3 leading-normal shadow-sm ring-1 ring-gray ring-inset placeholder:text-darkgray focus:ring-2 focus:ring-inset focus:ring-gray"></textarea>
                </div>
            </div>

            <div class="mt-8">
                <button type="submit" class="block w-full sm:inline-block sm:w-auto border-none cursor-pointer rounded-md bg-blue px-8 py-2 font-copy text-base font-semibold text-white shadow-sm hover:bg-blue/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue">Send</button>
            </div>
        </form>
    </div>

</section>



<img src="{{ '/assets/images/wave.svg' | url }}" class="mx-auto" alt="">

<section class="container py-8 box-border">

    <span id="location" class="block invisible h-36 -mt-36"></span>
    <h2 class="text-center">
        LOCATION IN FRIDAY HARBOR
    </h2>

    <p class="text-copy text-xl font-extralight leading-relaxed">
        Sound Studio is located in Friday Harbor, within walking distance of the San Juan ferry. Ferry pick-up and accommodation can be arranged. San Juan Island is a tourist destination known for whale watching and the awesome natural beauty of the island itself. Friday Harbor village shops, galleries, restaurants, and Inns complete this picture perfect destination. <em>Residents of the San Juan Islands - ask us about our Island Artists’ Discount for all your recording and sound engineering needs!</em>

    </p>

</section>
