---
layout: 'page.njk'
---
<div class="text-center mt-16">

    <h1 class="text-4xl">
        {{ title }}
    </h1>

    <div class="text-copy text-xl font-medium leading-relaxed [&_ul]:list-disc [&_ul]:list-inside [&_ul]:pl-4 [&_ul]:my-4">
       {{ content | safe }}
    </div>
</div>